APP_NAME="Talksasa Cloud"
APP_ENV=production
APP_KEY=base64:O2nKOUtR1Czd43Fa9z+Cn6Xdai0e56rhviaEhDBmRr8=
APP_DEBUG=false
APP_URL=https://servers.talksasa.com
LOG_CHANNEL=stack
LOG_LEVEL=warning

DB_CONNECTION=sqlite

CACHE_DRIVER=file
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_SECURE_COOKIE=true
SESSION_HTTP_ONLY=true
SESSION_SAME_SITE=Lax

MAIL_MAILER=log
MAIL_FROM_ADDRESS=noreply@talksasa.cloud
MAIL_FROM_NAME="${APP_NAME}"

DIRECTADMIN_API_URL=
DIRECTADMIN_API_USERNAME=
DIRECTADMIN_API_PASSWORD=
