APP_NAME="Talksasa Cloud"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=talksasa_cloud
DB_USERNAME=root
DB_PASSWORD=

CACHE_DRIVER=file
QUEUE_CONNECTION=sync
SESSION_DRIVER=cookie

CONTAINER_RUNTIME_REGISTRY=talksasa
CONTAINER_RUNTIME_BUILD_ON_DEPLOY=true
LARAVEL_INIT_COMPOSER_CONSTRAINT=^12.0

CONTAINER_TERMINAL_WS_ENABLED=true
CONTAINER_TERMINAL_WS_HOST=0.0.0.0
CONTAINER_TERMINAL_WS_PORT=8088
CONTAINER_TERMINAL_WS_PUBLIC_URL=
CONTAINER_TERMINAL_WS_PATH=/container-terminal

MAIL_MAILER=smtp
MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS=noreply@talksasa.cloud
MAIL_FROM_NAME="${APP_NAME}"

DIRECTADMIN_API_URL=
DIRECTADMIN_API_USERNAME=
DIRECTADMIN_API_PASSWORD=
