[Unit]
Description=Run Talksasa Cloud scheduler every minute
Requires=talksasa-scheduler.service

[Timer]
OnCalendar=*:*:00
AccuracySec=1s
Persistent=true

[Install]
WantedBy=timers.target
